/* Sara White - Assignment 10.3 - CSD-340 */

body {
    font-family: "Roboto", system-ui, sans-serif;
    text-align: center;
    background: url("images/bgimage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    
}

h1 {
    color: #000000;
}

#mainImage {
  width: 25%;
  height: auto;
  max-width: 500px;
  border: 2px solid black;
}

.thumbnail img {
    width: 100px;
    height: auto;
    margin: 5px;
    border: 2px solid black;
    
}

.thumbnail img:hover {
    border: 2px solid #b9ffa2;
    cursor: pointer;
}