.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}


h1, h2, h3, h4 {
  background-color: #000500;
  color: #bcb489;
  border: 1px solid #D6A800;
  padding: 10px;
}


a {
  color: #b5837d;
  text-decoration: none;
}

a:hover {
  color: #D6A800;
}

a:visited {
  color: #2E1F45;
}


.color1 {color: #000500;}
.color2 {color: #052613;}
.color3 {color: #b5837d;}
.color4 {color: #bcb489;}
.color5 {color: #f6f6ee;}